<div id="face-detection">
  <div id="video-wrapper">
    <video #videoElement autoplay>
    </video>
    <span>
    <svg height="240" viewBox="0 0 320 250" width="300">
      <!-- Background ellipse for the gray stroke -->
      <ellipse class="ellipse-background" cx="155" cy="125" rx="150" ry="120"/>
      <!-- Foreground ellipse for the blue animated stroke -->
      <ellipse
              [ngClass]="{'fail': !enabledCaptureButton &&  !loading, 'suitable': enabledCaptureButton, 'intermediate': loading}"
              class="ellipse-foreground"
              cx="155" cy="125" rx="150" ry="120"/>
    </svg>
    </span>
  </div>
  <canvas #canvasElement style="display:none"></canvas>
  <div id="feedback"></div>
  <div class="hint">
    @if (errors.length) {
      <h4>
        {{ errorMapper[ errors[ 0 ] ].errorTitle }}
      </h4>
      <p>{{ errorMapper[ errors[ 0 ] ].errorMessage }}</p>
    }
    @if (captured) {
      <h4>عکس شما ثبت شد.</h4>
      <p>اگر تمایل به ثبت دوباره عکس دارید می‌توانید دوباره اقدام کنید.</p>
    }
    @if (enabledCaptureButton) {
      <h4>نور و زاویه مناسب است</h4>
      <p>با فشردن دکمه قرمز عکس خود را ثبت‌کنید.</p>
    }
  </div>

</div>
