#face-detection {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  padding: 0 24px;

  #video-wrapper {
    position: relative;
    width: 100%;
    max-width: 640px;
    overflow: hidden;

    video {
      transform: scaleX(-1);
      width: 100%;
      height: auto;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 225px;
      height: 280px;
      border-radius: 50%;
      border: 6px solid #ffffff;
      z-index: 1;
      background: transparent;
      transition: outline-color 0.3s ease-out;
      box-shadow: #ffffff 0 0 0 99999px;

      svg {
        position: absolute;
        top: 17px;
        left: -38px;
        transform: rotate(-90deg);
      }

      .ellipse-background {
        fill: none;
        stroke: rgb(207, 207, 207);
        stroke-width: 6;
      }

      .ellipse-foreground {
        fill: none;
        stroke-width: 6;
        stroke-dashoffset: 855;
        stroke-dasharray: 855;
        stroke-linecap: round;
        transition: stroke 0.3s ease;

        &.intermediate {
          stroke: #0040FF;
          stroke-dasharray: 215 640;
          animation: revolve 2s linear infinite forwards;
          animation-delay: 0.5s;
        }

        &.recording {
          stroke: #0040FF;
          animation: draw 20s linear forwards;
        }

        &.fail {
          stroke: #FF2638;
          stroke-dashoffset: 0;
        }

        &.suitable {
          stroke: #01D673;
          stroke-dashoffset: 0;
        }

        &.captured {
          stroke: #0040FF;
          stroke-dashoffset: 0;
        }
      }
    }
  }

  canvas {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    pointer-events: none; /* Ensure it doesn't interfere with user interactions */
  }

  .hint {
    text-align: right;
    direction: rtl;

    h4 {
      color: #2C3544;
      text-align: right;
      font-size: 18px;
      font-weight: 700;
      line-height: 32px;
      margin: 0;
    }

    p {
      color: #6E798D;
      font-size: 14px;
      font-weight: 375;
      line-height: 24px;
      text-align: right;
      margin: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  #video-wrapper {
    span {
      width: 140px !important;
      height: 180px !important;
    }
  }
}

@keyframes revolve {
  0% {
    stroke-dashoffset: 1710;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
