#face-detection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;

  #video-wrapper {
    position: relative;
    width: 100%;
    max-width: 640px;
    overflow: hidden;

    video {
      transform: scaleX(-1);
      width: 100%;
      height: auto;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
      height: 300px;
      border-radius: 50%;
      border: 3px solid red;
      z-index: 1;
      background: transparent;
      transition: color 0.3s ease-out;
      box-shadow: #ffffff 0 0 0 99999px;

      &.suitable {
        border-color: green;
      }
    }
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    pointer-events: none; /* Ensure it doesn't interfere with user interactions */
  }

  .error {
    color: red;
    text-align: center;
    width: 100%;
    font-family: Tahoma;
  }
}

@media screen and (max-width: 600px) {
  #video-wrapper {
    span {
      width: 140px !important;
      height: 180px !important;
    }
  }
}

