<div id="face-detection">
  <div id="video-wrapper">
    <video #videoElement autoplay>
    </video>
    <span #boundary [ngClass]="{suitable: enabledCaptureButton}"></span>
  </div>
  <canvas #canvasElement style="display:none;"></canvas>
  <div id="feedback"></div>
  <button (click)="capture()" [disabled]="!enabledCaptureButton">Capture</button>
  @if (messages.length) {
    <p class="error">
      <ng-container [ngSwitch]="messages[0]">
        <ng-container *ngSwitchCase="ERROR_TYPE.TOO_FAR">صورت خود را نزدیک تر بیاورید</ng-container>
        <ng-container *ngSwitchCase="ERROR_TYPE.LOW_LIGHT">نور مناسب نیست</ng-container>
        <ng-container *ngSwitchCase="ERROR_TYPE.OUT_OF_BOX">صورت خود را در کادر قرار دهید</ng-container>
        <ng-container *ngSwitchCase="ERROR_TYPE.YAW_ROTATE">صورت خود را مقابل کادر قرار دهید</ng-container>
        <ng-container *ngSwitchCase="ERROR_TYPE.HORIZONTAL_TILT">سر خود را کمی به چپ یا راست بچرخانید</ng-container>
        <ng-container *ngSwitchCase="ERROR_TYPE.VERTICAL_TILT">سر خود را کمی به بالا یا پایین بچرخانید</ng-container>
        <ng-container *ngSwitchCase="ERROR_TYPE.FACE_VISIBILITY">صورت شما به طور کامل مشخص نیست</ng-container>
      </ng-container>
    </p>
  }
</div>
